@use "../abstracts/" as *;

.bg {
  height: clamp(300px, 25vw, 350px);
  %cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &--mob {
    @extend %cover;
  }
  &--desk {
    display: none;
    @extend %cover;
  }
  @include media($md) {
    &--mob {
      display: none;
    }
    &--desk {
      display: block;
    }
  }
}
main {
  display: grid;
  gap: 1.75rem;
  max-width: 750px;
  padding-inline: 25px;
  margin-inline: auto;
  margin-bottom: 5rem;
  margin-top: clamp(-5rem, -7vw, -3.25rem);
}
%share {
  background-color: $white;
  padding-inline: clamp(1.4rem, 5vw, 2.5rem);
  border-radius: $radius;
}
.mastercraft {
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 2.5rem;
  @extend %share;
  &__logo {
    position: absolute;
    top: -30px;
  }
  &__title {
    font-size: clamp(1.3rem, 5vw, 1.75rem);
    margin-top: 3.25rem;
  }
  &__desc {
    font-size: clamp(0.9rem, 3vw, 1rem);
  }
}
.statistics {
  @extend %share;
  padding-block: clamp(1.75rem, 5vw, 3rem);
  &__container {
    @include flex(null, center, column, clamp(1.5rem, 5vw, 3rem));
    @include media($sm) {
      flex-direction: row;
    }
  }
  &__form {
    display: grid;
    gap: 2rem;
  }
}
.statistic {
  @include flex(null, null, column, 0.5rem);
  text-align: center;
  @include media($sm) {
    text-align: left;
  }
  input {
    font: {
      weight: $weight-300;
      size: 1.95rem;
    }
    width: 100%;
  }
  label {
    color: $d-gray;
    font-size: 0.9rem;
  }
}
.line__break {
  width: 5rem;
  height: 1px;
  @include media($sm) {
    width: 1px;
    height: 4rem;
  }
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 13px;
  background-color: rgb($d-gray, 0.15);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: calc(var(--precentage, 0) * 1%);
    height: 100%;
    background-color: $moderate-cyan;
    padding: 0.25rem;
  }
  &,
  &::before {
    border-radius: 25px;
  }
}
.about,
.modal {
  padding-block: clamp(2rem, 5vw, 3rem);
  &__memberships {
    display: grid;
    gap: 1.25rem;
  }
  &__membership {
    border: 1px solid rgb($d-gray, 0.4);
    border-radius: 10px;
    &--container {
      @include flex(null, flex-start, column, 0.25rem);
      @include media($sm) {
        flex-direction: row;
        align-items: center;
      }
    }
    &--title {
      font-size: clamp(0.9rem, 3vw, 1.13rem);
    }
    &--pledge {
      font: {
        weight: $weight-300;
        size: clamp(0.9rem, 3vw, 1rem);
      }
      color: $moderate-cyan;
      line-height: 1;
    }
    &--left {
      @include flex(null, center, null, 0.5rem);
      font: {
        weight: 700;
      }
      color: $black;
      &::after {
        content: "left";
        font: {
          weight: $weight-100;
          size: 0.95rem;
        }
        color: $d-gray;
      }
    }
  }
}
.about {
  @extend %share;
  &__title {
    font-size: 1.25rem;
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }
  &__desc {
    display: grid;
    gap: 1.5rem;
    font-size: clamp(0.83rem, 3vw, 0.98rem);
  }
  &__memberships {
    margin-top: 2.5rem;
  }
  &__membership {
    display: grid;
    gap: 1.25rem;
    padding: 1.5rem;
    &--container {
      @include media($sm) {
        justify-content: space-between;
      }
    }
    &--description {
      font-size: clamp(0.8rem, 3vw, 1rem);
    }
    &--left {
      font-size: 1.8rem;
    }
    &--input {
      display: none;
    }
  }
}
.modal {
  position: absolute;
  top: 7rem;
  left: 50%;
  z-index: 2;
  width: min(700px, calc(100% - 50px));
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  @extend %share;
  @include trans;
  &.show {
    visibility: visible;
    opacity: 1;
    top: clamp(7.5rem, 15vw, 9rem);
  }
  &__head {
    &--title {
      font-size: clamp(1.15rem, 3vw, 1.5rem);
      margin-bottom: 1.75rem;
      @include media($md) {
        margin-bottom: 1rem;
      }
    }
    &--desc {
      font-size: clamp(0.85rem, 3vw, 0.95rem);
    }
  }
  .close--icon {
    position: absolute;
    right: 1rem;
    top: 2.3rem;
    @include media($sm) {
      right: 2rem;
      top: 2rem;
    }
  }
  &__memberships {
    margin-top: clamp(1.5rem, 5vw, 2rem);
  }
  &__membership {
    &,
    &--title,
    &-circle::before {
      @include trans;
    }
    position: relative;
    height: var(--height, 100%);
    outline: 2px solid transparent;
    overflow: hidden;
    &--content,
    &--form {
      padding: 1.5rem clamp(1.4rem, 5vw, 1.5rem);
    }
    &--content {
      @include flex(null, flex-end, null, 1rem);
      flex-wrap: wrap;
      padding-bottom: clamp(1.4rem, 5vw, 2rem);
      cursor: pointer;
    }
    &--title {
      align-self: center;
    }
    &--description {
      font-size: clamp(0.8rem, 3vw, 0.9rem);
    }
    &--circle {
      display: grid;
      place-items: center;
      align-self: center;
      position: relative;
      width: 25px;
      height: 25px;
      border: 1px solid rgb($d-gray, 0.4);
      border-radius: 50%;
      @include media($sm) {
        margin-right: clamp(0.01rem, 1vw, 0.5rem);
      }
      &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: $moderate-cyan;
        border-radius: 50%;
        opacity: 0;
        @include trans;
      }
    }
    &.focus,
    &:hover {
      outline-color: $moderate-cyan;
    }
    &:hover {
      .modal__membership {
        &--title {
          color: $moderate-cyan;
        }
        &--circle {
          border-color: $moderate-cyan;
        }
      }
    }
    &.focus {
      .modal__membership--circle::before {
        opacity: 1;
      }
    }
    &--container {
      @include media($sm) {
        flex: 1;
        gap: 1.25rem;
      }
    }
    &--description {
      max-width: 520px;
      margin-left: auto;
    }
    &--left {
      font-size: 1.25rem;
      @include media($md) {
        margin-left: auto;
      }
    }
    &--form {
      @include flex(null, center, column, 1.5rem);
      position: absolute;
      width: 100%;
      padding-top: clamp(1.4rem, 5vw, 1.5rem);
      border-top: 1px solid rgb($d-gray, 0.4);
      @include media($sm) {
        flex-direction: row;
        justify-content: flex-end;
      }
      &--container {
        display: flex;
        gap: 1rem;
      }
      label {
        color: $d-gray;
        font-size: clamp(0.95rem, 3vw, 1.1rem);
        @include media($sm) {
          margin-right: auto;
        }
      }
      input[type="number"] {
        width: 100%;
        font: {
          weight: $weight-300;
          size: 0.9rem;
        }
        color: $black;
        padding-left: 2rem;
        &::placeholder {
          @include trans;
        }
        &:focus::placeholder {
          opacity: 0;
        }
        &.no--reward {
          display: none;
        }
      }
      .input {
        display: grid;
        position: relative;
        width: 95px;
        border: 1px solid rgb($d-gray, 0.4);
        border-radius: 30px;
        overflow: hidden;
        &::before {
          content: "$";
          position: absolute;
          top: 50%;
          translate: 0 -50%;
          left: 1rem;
          font: {
            size: 0.9rem;
            weight: $weight-300;
          }
          color: rgb($d-gray, 0.4);
        }
        &.empty {
          border-color: red;
        }
      }
    }
  }
}
.out-of-stock {
  border-color: rgb($d-gray, 0.1);
  .about,
  .modal {
    &__membership {
      &--title,
      &--left {
        color: lighten($black, 55%);
      }
      &--pledge {
        color: lighten($d-moderate-cyan, 50%);
      }
      &--description,
      &--left::after {
        color: lighten($d-gray, 30%);
      }
    }
  }
  &.modal {
    &__membership {
      outline: none;
      cursor: default;
      &:hover {
        .modal__membership {
          &--title {
            color: lighten($black, 50%);
          }
          &--pledge {
            color: lighten($d-moderate-cyan, 50%);
          }
          &--circle {
            border-color: rgb($d-gray, 0.4);
          }
        }
      }
    }
  }
}
.thanks__msg {
  display: grid;
  place-items: center;
  gap: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: min(calc(100% - 50px), 500px);
  padding-block: clamp(2rem, 5vw, 3rem) 2.5rem;
  text-align: center;
  translate: -50% -50%;
  scale: 0;
  @extend %share;
  @include trans;
  &.show {
    scale: 1;
  }
  &--img {
    width: clamp(64px, 10vw, 80px);
  }
  &--title {
    font-size: clamp(1.1rem, 5vw, 1.45rem);
    margin-bottom: 1.5rem;
  }
  &--desc {
    font-size: clamp(0.845rem, 3vw, 0.95rem);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb($black, 0.5);
  visibility: hidden;
  opacity: 0;
  @include trans;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
